<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permission for camera -->
    <permission
        android:name="android.permission.CAMERA"
        tools:ignore="ReservedSystemPermission" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Required for all location services -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Optional based on requirements: -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/utar_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".TimetableTableActivity"
            android:exported="false" />
        <activity
            android:name=".AssignmentManagementWebViewActivity"
            android:exported="false" />
        <activity
            android:name=".AttendanceManagementWebViewActivity"
            android:exported="false" />
        <activity
            android:name=".TimetableManagementWebViewActivity"
            android:exported="false" />
        <activity
            android:name=".EmailWebViewActivity"
            android:exported="false" />
        <activity
            android:name=".UTAROfficialWebsite"
            android:exported="false" />
        <activity
            android:name=".examResultWeb"
            android:exported="false" />
        <activity
            android:name=".UTARMapActivity"
            android:exported="false" />
        <activity
            android:name=".AssignmentDetailActivity"
            android:exported="false" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".CourseAttendanceAdapter"
            android:exported="false" />
        <activity
            android:name=".attendanceScanStatus"
            android:exported="false" />
        <activity
            android:name=".ItemTimetableEntryActivity"
            android:exported="false" />
        <activity
            android:name=".courseList"
            android:exported="false" />
        <activity
            android:name=".CourseRegistration"
            android:exported="false" />
        <activity
            android:name=".spinner_dropdown_item"
            android:exported="false" />
        <activity
            android:name=".spinner_item"
            android:exported="false" />
        <activity
            android:name=".TimetableViewPager"
            android:exported="false" />
        <activity
            android:name=".UtarPortalWebActivity"
            android:exported="false" />
        <activity
            android:name=".bottomBar"
            android:exported="false" />
        <activity
            android:name=".AssignmentTask"
            android:exported="false" />
        <activity
            android:name=".AssignmentTaskSubject"
            android:exported="false" />
        <activity
            android:name=".NotificationContent"
            android:exported="false" />
        <activity
            android:name=".RealTimeNotification"
            android:exported="false" />
        <activity
            android:name=".reviewTimetableBtmBar"
            android:exported="false" />
        <activity
            android:name=".reviewTimetable"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="true" />
        <activity
            android:name=".editDigitalStudentId"
            android:exported="false" />
        <activity
            android:name=".AttendanceTopBar"
            android:exported="false" />
        <activity
            android:name=".AttendanceRecord"
            android:exported="false" />
        <activity
            android:name=".ScanAttendance"
            android:exported="false"
            tools:ignore="AppLinkUrlError">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Accepts URLs like "utarapp://attendance" -->
                <data
                    android:host="attendance"
                    android:scheme="utarapp" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".slideItem"
            android:exported="false" />
        <activity
            android:name=".digitalStudentId"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.utarapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".NetworkChangeReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".NotificationReceiver" />
        <receiver
            android:name=".ReminderService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>